.DS_Store
.ipynb_checkpoints/
Lab3_Decision_Trees_carina.ipynb
Lab9.ipynb
MindReading Project Outline.docx
Mindreading_proposal.docx
convertedData.csv
fileConverter.ipynb
individual_project.pptx
rawdata.csv